{% extends "plastic_tracker/base.html" %}
{% load materializecss %}

{% block content %}
<h4>Shopping List - {{client.fullname}}'s current plastic balance: {{client.monthly_balance}}</h4>
<div class="row">
  <form class="col s12" action="" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s6">
        {{form.product_id|materializecss}}
      </div>
    </div>
    <button class="waves-effect waves-light btn" type="submit" name="register">Register product</button>
  </form>
</div>
<div class="row">
  <form class="col s6 offset-s9" action="" method="POST" autocomplete="off">
    {% csrf_token %}
      <button class="waves-effect waves-light btn" type="submit" name="payment">Payment</button>
  </form>
</div>

{% endblock content %}